#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 20px;
}
p+img{
    height:50px;
   margin-left: 80px;

}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
#card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#card>img:first-child{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}